.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}
body {
    margin: 0;
    padding: 0;
}
.logo {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    margin-left: 4px;
}
h1 {
    margin-right: 500px;
    color: gold;
    
}
.hint {
    color: gray;
    margin-left: 4px;
    font-weight: 600;
    font-size: large;
    margin-top: 2px;
}
.pic2 {
    width: 700px;
    margin-left: 420px;

}
h2 {
    color: orange;
    margin-left: 10px;
}
p {
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:inherit;
    font-size: large;
}
.gad {
    color: skyblue;
}
strong {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .city {
        width: 400px;
        height: 400px;
        display: block;
        border-radius: 400%;
        
    }
    .newyork {
        margin-right: 200px;
        margin-left: 100px;
        
        

    }
    .dudu {
        align-items: center;
        display: flex;
        margin-top: 80px;
    }
    .didi {
        align-items: center;
        display: flex;
        margin-top: 90px;
    }
    .set {
        width: 400px;
        height: 400px;
        display: block;
        border-radius: 400%;
    }
    .sunset {
        margin-right: 200px;
        margin-left: 100px;
    }
    .dede {
        align-items: center;
        display: flex;
        margin-top: 80px;
    }
    .mts {
        width: 400px;
        height: 400px;
        display: block;
        border-radius: 400%;
    }
    .himalayas {
        margin-right: 200px;
        margin-left: 100px;
    }
    .dodo {
       align-items: center;
        display: flex;
        margin-top: 90px;  
    }
    .coll {
         width: 400px;
        height: 400px;
        display: block;
        border-radius: 400%;
    }
    .historical {
        margin-right: 200px;
        margin-left: 100px;
    }
    .moda {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: inherit;
        font-size: large;
    }
    form {
    max-width: 650px;
    margin: 24px auto;
}
form label {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
}
form input, form textarea, form button {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    font-size: 16px;
    border: 1px solid#ddd;
    border-radius: 8px;
}
form input:focus, form textarea:focus, form button:focus {
    border-color: red;
    outline: none;

}
form button {
    background-color: grey;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
form button:hover {
    background-color: green;
}


nav {
    background-color: antiquewhite;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: green;
    margin:0 15px;
    
    font-size: 18px;
    
}
header a {
    text-decoration: none;
    color: inherit;
}
    
